@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
 
  --color-base-100: #ede9de;
  --color-base-200: #981b00;
  --color-base-300: #ce6f2f;
   --color-base-400: #5e8878;
  --color-base-content: #000;
  --color-primary: #00ba7b;
  --color-info: #f5ed5a;
  --color-primary-content:#000000; 
  --radius-selector: 0.25rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 30px;
  --depth: 0;
  --noise: 1;
}

@plugin "daisyui" {
  /* Her tilføjes theme variable // tokens */
  themes:tennis:
}


@plugin "daisyui/theme" {
  name: "tennis";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #981b00;
  --color-base-200: #ede9de;
  --color-base-300: #ce6f2f;
  --color-base-content: #000;
  --color-primary: #00ba7b;
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(76% 0.233 130.85);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: oklch(55% 0.046 257.417);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(51% 0.222 16.935);
  --color-neutral-content: oklch(96% 0.015 12.422);
  --color-info: #f5ed5a;
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}







@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

<---- H2/underoverskrift --->
.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}






@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
}


.anton-regular-footer {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}