---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Nyhederfilter from "../components/Nyhederfilter.astro";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />

<MainLayout title="Titel" data-theme:tennis>
  <!-- Herosection -->
  <section class="hero h-100 w-full relative">
    <div class="relative w-screen h-screen">
      <img src="/herosection.jpg" alt="Full Screen Image" class="object-cover w-full h-100" />
      <div class="absolute inset-0 flex flex-col items-center justify-start pt-20 gap-4">
        <h2 class="text-primary-content text-3xl font-bold drop-shadow-lg anton-regular">Nyheder</h2>
      </div>
    </div>
  </section>
  <div class="bg-base-300/40">
    <Nyhederfilter />
  </div>
  <!-- Vinterens tilbud -->
  <section class="relative h-64 md:h-96 w-full bg-cover bg-center bg-no-repeat overflow-hidden pt-15 bg-base-300/80" style="background-image: url('')">
    <div class="absolute inset-0"></div>
    <div class="relative z-10 max-w-4xl mx-auto p-8 text-center text-primary-content">
      <h2 class="text-2xl md:text-3xl font-bold mb-4 montserrat-700">Vinterens tilbud</h2>
      <p class="mb-6 text-primary-content leading-relaxed arial">Tag et kig på vores omfangsrige folder</p>
      <a href="https://issuu.com/kfumtennisklub/docs/tr_nings_og_aktivitetskatalog_for_f_rste_termin_20">
        <button class="px-8 py-4 bg-info text-primary-content border-0 rounded-tl-[300px] rounded-br-[300px] cursor-pointer leading-relaxed montserrat font-bold">Læs mere om tilbuddet</button>
      </a>
    </div>
  </section>
</MainLayout>
