---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />

<MainLayout title="Titel" data-theme:tennis>
  <!-- Herosection -->
  <section class="hero h-screen w-full relative">
    <div class="relative w-screen h-screen">
      <img src="/herosection.jpg" alt="Full Screen Image" class="object-cover w-full h-full" />
      <div class="absolute inset-0 flex flex-col items-center justify-start pt-20 gap-4">
        <h2 class="text-primary-content text-3xl font-bold drop-shadow-lg anton-regular">KFUM</h2>
        <div class="flex gap-4">
          <button class="px-8 py-4 bg-info text-primary-content border-0 rounded-tl-[300px] rounded-br-[300px] cursor-pointer">Book Tennis bane</button>
          <button class="px-8 py-4 bg-info text-primary-content border-0 rounded-tl-[300px] rounded-br-[300px] cursor-pointer">Book Padel bane</button>
        </div>
      </div>
    </div>
  </section>
<section class="w-full py-12">
    
</section>
 
</MainLayout>
