<nav class="bg-base-200 text-base-100 p-4">
  <ul class="flex space-x-6 font-semibold">
    <li><a href="#kfum" class="hover:text-blue-500">KFUM</a></li>
    <li><a href="#træning" class="hover:text-blue-500">Træning</a></li>
    <li><a href="#klubaktiviteter" class="hover:text-blue-500">Klub Aktiviteter</a></li>
    <li><a href="#padel" class="hover:text-blue-500">Padel</a></li>
    <li><a href="#kontakt" class="hover:text-blue-500">Kontakt</a></li>
    <li><a href="#english" class="hover:text-blue-500">English</a></li>
  </ul>
</nav>
