<section class="w-screen my-8">
  <!-- Section title -->

  <!-- Desktop grid -->
  <div class="hidden md:grid grid-cols-6 grid-rows-2 gap-4 px-4 md:px-0">
    <!-- Row 1 -->
    <div class="relative col-span-2 h-48 overflow-hidden group rounded-[30px]">
      <img src="/Ladiesinde.png" alt="Ladies" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl md:text-2xl font-bold pointer-events-none montserrat-700">Ladies club inde</h1>
    </div>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/u25inde.png" alt="U25" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">U25 inde</h1>
    </div>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/vokseinde.png" alt="Voksne" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">Voksne inde</h1>
    </div>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/voksenoutdoor.png" alt="Voksne" class="w-full h-full object-cover bg-base-400" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">Voksen outdoor</h1>
    </div>

    <!-- Row 2 -->
    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/unge.png" alt="Unge" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none">Junior inde</h1>
    </div>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/familieinde.png" alt="Familie" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">Familie tennis inde</h1>
    </div>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/campsinde.png" alt="Camps" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">Camps inde</h1>
    </div>

    <a href="/holdoversigt" class="relative col-span-2 h-48 overflow-hidden group rounded-[30px] block">
      <img src="/mensinde.png" alt="Mens" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">Mens club inde</h1>
    </a>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/holdspillerinde.png" alt="Holdspiller" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">Holdspiller inde</h1>
    </div>

    <div class="relative col-span-1 h-48 overflow-hidden group rounded-[30px]">
      <img src="/60+.png" alt="60+" class="w-full h-full object-cover" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-xl font-bold pointer-events-none montserrat-700">60+ onsdage inde</h1>
    </div>
  </div>

  <!-- Mobile horizontal scroll gallery -->
  <div class="md:hidden flex space-x-4 overflow-x-auto px-4">
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/Ladiesinde.png" alt="Ladies" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none" montserrat-700>Ladies club inde</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/u25inde.png" alt="U25" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">U25 inde</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/vokseinde.png" alt="Voksne" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Voksne inde</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/voksenoutdoor.png" alt="Voksne" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Voksen outdoor</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/unge.png" alt="Unge" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Junior inde</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/familieinde.png" alt="Familie" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Familie tennis inde</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/campsinde.png" alt="Camps" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Camps inde</h1>
    </div>
    <a href="/holdoversigt" class="relative min-w-[200px] h-48 shrink-0 group rounded-[30px] overflow-hidden block">
      <img src="/mensinde.png" alt="Mens" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Mens club inde</h1>
    </a>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/holdspillerinde.png" alt="Holdspiller" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">Holdspiller inde</h1>
    </div>
    <div class="relative min-w-[150px] h-48 shrink-0 group rounded-[30px] overflow-hidden">
      <img src="/60+.png" alt="60+" class="w-full h-full object-cover rounded-[30px]" />
      <div class="absolute inset-0 bg-base-200 opacity-0 group-hover:opacity-40 transition duration-300 rounded-[30px]"></div>
      <h1 class="absolute inset-0 flex items-center justify-center text-info text-lg font-bold pointer-events-none montserrat-700">60+ onsdage inde</h1>
    </div>
  </div>
</section>
