<!-- Herosection -->
<section class="hero w-full relative h-64 md:h-screen">
  <div class="relative w-full h-full">
    <img src="/herosection.jpg" alt="Full Screen Image" class="object-cover w-full h-full" />

    <div class="absolute inset-0 flex flex-col items-center justify-start pt-20 gap-4">
      <!-- Top centered heading on desktop, full centered on mobile -->
      <h2 class="text-primary-content
      !text-4xl md:!text-8xl
      font-bold drop-shadow-lg anton-regular
      text-center
      md:self-start md:pl-20">Bliv en del af fællesskabet</h2>

      <!-- Under it, centered on mobile, left on desktop -->
      <h2 class="text-primary-content
      !text-4xl md:!text-8xl
      font-bold drop-shadow-lg anton-regular
      text-center
      md:self-start md:pl-20">Tennis for alle</h2>

      <!-- Buttons -->
      <div class="flex gap-10 mt-4 md:gap-50 md:mt-60">
        <button class="px-8 py-4 bg-info text-primary-content border-0 rounded-tl-[300px] rounded-br-[300px] cursor-pointer montserrat-700 font-bold">Book Tennis bane</button>
        <button class="px-8 py-4 bg-info text-primary-content border-0 rounded-tl-[300px] rounded-br-[300px] cursor-pointer montserrat-700 font-bold">Book Padel bane</button>
      </div>
    </div>
  </div>

  <!-- VIDEO OVERLAY (hidden on mobile) -->
  <div class="absolute inset-0 flex justify-end items-start pointer-events-none hidden lg:flex" style="top: 250px; right: 80px;">
    <iframe class="w-[40%] h-[60%] opacity-100 rounded-xl border-2 border-primary-content" src="https://www.youtube.com/embed/r-w8lGu1WQU?autoplay=1&mute=1&loop=1&playlist=r-w8lGu1WQU&controls=0&modestbranding=1&playsinline=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen> </iframe>
  </div>
</section>
